# Test 2

In [1]:
import pandas as pd

In [2]:
!ls

Untitled.ipynb test_1.ipynb

In [9]:
dtf = pd.read_csv('../data_processed/collatedComplex.csv')

In [10]:
dtf.head(3)

,PARAMETER,YEAR,STATE,NUMCOL,LBPERCOL,TOTALLB,PRICEPERLB,TOTALPRICE,JAN,FEB,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN
0,ALLSKY_TOA_SW_DWN,2019,ALABAMA,7000,42,294000,3.20068,941000,19.35,24.21,...,36.16,39.95,41.35,40.50,37.32,32.41,26.12,20.58,17.82,30.31
1,ALLSKY_SFC_SW_DWN,2019,ALABAMA,7000,42,294000,3.20068,941000,8.91,9.21,...,19.85,23.37,21.39,20.32,20.60,20.48,11.47,11.29,7.86,15.77
2,PRECTOT,2019,ALABAMA,7000,42,294000,3.20068,941000,130.80,178.20,...,131.10,74.10,126.00,69.60,85.50,9.00,131.10,85.80,134.10,101.40

In [11]:
#using the monthly data [for now we are not using the month directly]
dtf_melted = dtf.melt(id_vars=['PARAMETER', 'YEAR', 'STATE'], value_vars=['JAN', 'FEB', 'MAR', 'APR', 'MAY',
       'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']).rename(columns={'variable':'month'})
dtf_trs = pd.pivot_table(dtf_melted, values='value', columns='PARAMETER', index=['YEAR','STATE', 'month']).reset_index(drop=False)

In [12]:
dtf_trs.head(3)

PARAMETER,YEAR,STATE,month,ALLSKY_SFC_SW_DWN,ALLSKY_TOA_SW_DWN,PRECTOT,RH2M,T2M,WS10M,WS2M
0,1987,ALABAMA,APR,21.79,36.33,25.14,75.83,14.56,2.16,0.30
1,1987,ALABAMA,AUG,18.39,37.59,68.19,61.85,28.05,1.50,0.22
2,1987,ALABAMA,DEC,8.56,17.83,108.34,80.11,8.56,2.26,0.27

In [8]:
dtf_trs.shape

(16896, 10)

In [ ]:
model_rf = RandomForestRegressor(random_state=0)